<div class="settings modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span class="settings-title">Kanb.am Settings</span>
    </div>
    <form class="form-horizontal" ng-submit="user(formSetting)">
        <div class="modal-body modal-body-default">

            <!--<div class="control-group">-->
            <!--<label class="control-label">Choose a Tool:</label>-->

            <!--<div class="controls">-->
            <!--<div class="btn-group tool-options">-->
            <!--<button class="btn btn-label">Redmine</button>-->
            <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
            <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Redmine</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="control-group">
                <label class="control-label" for="redmine-uri">Redmine URI:</label>

                <div class="controls">
                    <input type="text" class="redmine-uri input-xlarge" id="redmine-uri" placeholder="http://"
                           ng-model="formSetting.redmine_uri"><br/>
                    <span class="help-inline">Ex: http://myredmine.mydomain.com/</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Redmine API Key:</label>

                <div class="controls">
                    <input type="text" class="api-key input-xlarge"
                           placeholder="Paste your API Key here" ng-model="formSetting.api_key"><br/>
                    <span class="help-inline">Ex: 62de4539a7d9a370afad56cdf20177235ef34374</span>
                </div>
            </div>
            <!--<div class="control-group settings-view-mode">-->
            <!--<label class="control-label">View mode:</label>-->

            <!--<div class="controls">-->
            <!--<div class="btn-group">-->
            <!--<button class="btn btn-label view-mode-label">User mode</button>-->
            <!--<button class="btn dropdown-toggle" data-toggle="dropdown">-->
            <!--<span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a id="user" href="#">User mode</a></li>-->
            <!--<li><a id="presentation" href="#">Presentation mode</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="controls settings-list-projects">-->
            <!--<div ng-repeat="project in projects" ng-switch on="project.parent">-->
            <!--<label class="settings-parent" ng-switch-when="">-->
            <!--<input id="project{{project.id}}" type="checkbox" value="{{project.id}}"/>-->
            <!--{{project.name}}-->
            <!--</label>-->
            <!--<label ng-switch-default>-->
            <!--<input id="project{{project.id}}" type="checkbox" value="{{project.id}}"/>-->
            <!--{{project.name}}-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

        </div>
        <div class="modal-footer">
            <button class="close-settings btn" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="save-settings btn btn-primary" type="submit">Save changes</button>
        </div>
    </form>
</div>