<div class="stories">
    <table class="stories-table" ng-switch on="totalTasks">
        <colgroup>
            <col class="stories-column"/>
            <col class="tasks-column"/>
            <col class="tasks-column tasks-column-shadow"/>
            <col class="tasks-column"/>
        </colgroup>
        <tbody ng-switch-when="0">
        <tr>
            <td></td>
            <td colspan="3">
                <div class="stories-no-tasks">No task inserted</div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="stories-page-footer-middle" colspan="3">
                <img class="stories-page-footer-left" src="assets/img/paginas-empilhadas-esq.png"/>
                <img class="stories-page-footer-right" src="assets/img/paginas-empilhadas-dir.png"/>
            </td>
        </tr>
        </tbody>
        <tbody ng-switch-default>
        <tr id="{{story.id}}" ng-repeat="story in stories">
            <td class="stories-td {{isFirstStory($index)}}">
                <div class="stories-box">
                    <div class="stories-content">
                        <div class="stories-label">{{story.name}}<br/>
                                            <span class="stories-info">
                                                <i class="icon-time icon-alpha"></i> {{formatHour(story.total_estimated, true)}}
                                                <i class='{{story.date != "" && "icon-calendar icon-alpha stories-icon-calendar" || "" }}'></i> {{formatDate(story.date)}}
                                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td id="TODO" class="todo tasks-td {{isFirstStory($index)}}">
                <div id="post{{post.id}}" class="post-it post{{post.id}}" ng-repeat="post in story.todo">
                    <div class="post-it-area post-it-{{formatColorPost(post.type)}}">
                        <div class="post-it-task {{post.impediment != false && 'post-it-impediment' || '' }}">
                            #{{post.id}}
                        </div>
                        <div class="post-it-assigned-to">{{formatUserName(post.assigned_to_name)}}</div>
                        <div class="post-it-name">{{post.name}}</a></div>
                        <div class="post-it-hours"><i class="icon-time icon-alpha post-it-icon-estimated"></i>
                            {{formatHour(post.estimated)}}
                        </div>
                        <div class="post-it-spent">{{formatHour(post.spent_time)}} <i
                                class='{{post.spent_time != 0 && "icon-ok icon-alpha post-it-icon-spent" || "" }}'></i>
                        </div>
                    </div>
                </div>
            </td>
            <td id="DOING" class="doing tasks-td {{isFirstStory($index)}}">
                <div id="post{{post.id}}" class="post-it post{{post.id}}" ng-repeat="post in story.doing">
                    <div class="post-it-area post-it-{{formatColorPost(post.type)}}">
                        <div class="post-it-task {{post.impediment != false && 'post-it-impediment' || '' }}">
                            #{{post.id}}
                        </div>
                        <div class="post-it-assigned-to">{{formatUserName(post.assigned_to_name)}}</div>
                        <div class="post-it-name">{{post.name}}</div>
                        <div class="post-it-hours"><i class="icon-time icon-alpha post-it-icon-estimated"></i>
                            {{formatHour(post.estimated)}}
                        </div>
                        <div class="post-it-spent">{{formatHour(post.spent_time)}} <i
                                class='{{post.spent_time != 0 && "icon-ok icon-alpha post-it-icon-spent" || "" }}'></i>
                        </div>
                    </div>
                </div>
            </td>
            <td id="DONE" class="done tasks-td {{isFirstStory($index)}}">
                <div id="post{{post.id}}" class="post-it post{{post.id}}" ng-repeat="post in story.done">
                    <div class="post-it-area post-it-{{formatColorPost(post.type)}}">
                        <div class="post-it-task {{post.impediment != false && 'post-it-impediment' || '' }}">
                            #{{post.id}}
                        </div>
                        <div class="post-it-assigned-to">{{formatUserName(post.assigned_to_name)}}</div>
                        <div class="post-it-name">{{post.name}}</div>
                        <div class="post-it-hours"><i class="icon-time icon-alpha post-it-icon-estimated"></i>
                            {{formatHour(post.estimated)}}
                        </div>
                        <div class="post-it-spent">{{formatHour(post.spent_time)}} <i
                                class='{{post.spent_time != 0 && "icon-ok icon-alpha post-it-icon-spent" || "" }}'></i>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="stories-page-footer-middle" colspan="3">
                <img class="stories-page-footer-left" src="assets/img/paginas-empilhadas-esq.png"/>
                <img class="stories-page-footer-right" src="assets/img/paginas-empilhadas-dir.png"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>